streamlit==1.41.0
langchain==0.3.18
langchain-openai==0.2.14
langchain-community==0.3.17
langgraph==0.2.64
openai==1.58.1
PyGithub==2.4.0
detect-secrets==1.4.0
plotly==6.0.0
pydantic==2.10.6
python-dotenv==1.0.1
